<launch>

    <master auto="start"/>
    <!-- Run the map server --> 
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find hexar_navigation)/maps/cafe_map.yaml"/> -->

    <!--- Run AMCL --> 
    <include file="$(find hexar_navigation)/launch/hexar_amcl.launch" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find hexar_navigation)/configs/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find hexar_navigation)/configs/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find hexar_navigation)/configs/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find hexar_navigation)/configs/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find hexar_navigation)/configs/base_local_planner_params.yaml" command="load" />
    </node>

</launch> 
